.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@vscode/tree-sitter-wasm/wasm/*.wasm
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
